apiVersion: apps/v1
kind: Deployment
metadata:
  name: guacamole-guacamole
  namespace: guacamole-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: guacamole-guacamole
  template:
    metadata:
      labels:
        app: guacamole-guacamole
    spec:
      # 데이터베이스 스키마 생성용, 반드시 DB가 먼저 떠있어야 함
      initContainers:
        - name: create-init-db
          image: "guacamole/guacamole:1.6.0"
          imagePullPolicy: IfNotPresent
          env: &common-env
            - name: GUACD_HOSTNAME
              value: "guacamole-guacd.guacamole-system.svc.cluster.local"
            - name: GUACD_PORT
              value: "4822"
            - name: POSTGRESQL_HOSTNAME
              value: guacamole-database-18-cluster-rw.guacamole-system.svc.cluster.local
            - name: POSTGRESQL_PORT
              value: "5432"
            - name: POSTGRESQL_DATABASE
              value: guacamole
            - name: POSTGRESQL_USER
              valueFrom:
                secretKeyRef:
                  name: guacamole-database-user-secret
                  key: username
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: guacamole-database-user-secret
                  key: password
            - name: WEBAPP_CONTEXT
              value: ROOT
          volumeMounts:
            - name: initdb
              mountPath: /data
          command: ["/bin/sh"]
          args:
            - -c
            - |
              /opt/guacamole/bin/initdb.sh --postgresql > /data/initdb.sql
        - name: loaddb
          image: "postgres:18-bookworm"
          imagePullPolicy: IfNotPresent
          env: *common-env
          volumeMounts:
            - name: initdb
              mountPath: /data
          command: ["/bin/sh"]
          args:
            - -c
            - |
              export PGPASSWORD=$POSTGRESQL_PASSWORD
              # most likely already created, so don't fail, just log and move on
              psql -h $POSTGRESQL_HOSTNAME -d $POSTGRESQL_DATABASE -U $POSTGRESQL_USER -p $POSTGRESQL_PORT -a -w -f /data/initdb.sql || true
      containers:
        - name: guacamole
          image: "guacamole/guacamole:1.6.0"
          imagePullPolicy: IfNotPresent
          env: *common-env
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            requests:
              cpu: "1"
              memory: "2Gi"
            limits:
              cpu: "4"
              memory: "4Gi"
      volumes:
        - name: initdb
          emptyDir: {}
