apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: n8n-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      initContainers:
        - name: volume-permissions
          image: busybox:1.36
          command: ["sh", "-c", "chown 1000:1000 /data"]
          volumeMounts:
            - name: n8n-storage
              mountPath: /data
      containers:
        - name: n8n
          image: n8nio/n8n:1.123.4
          ports:
            - name: http
              containerPort: 5678
              protocol: TCP
            - name: runner
              containerPort: 5679
              protocol: TCP
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "4"
              memory: "4Gi"
          volumeMounts:
            - mountPath: /home/node/.n8n
              name: n8n-storage
          env:
            - name: DB_TYPE
              value: postgresdb
            - name: DB_POSTGRESDB_HOST
              value: n8n-database-cluster-rw.n8n-system.svc.cluster.local
            - name: DB_POSTGRESDB_PORT
              value: "5432"
            - name: DB_POSTGRESDB_DATABASE
              value: n8n
            - name: DB_POSTGRESDB_USER
              valueFrom:
                secretKeyRef:
                  name: n8n-database-user-secret
                  key: username
            - name: DB_POSTGRESDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: n8n-database-user-secret
                  key: password
            - name: N8N_PROTOCOL
              value: http
            - name: GENERIC_TIMEZONE
              value: "Asia/Seoul"
            - name: TZ
              value: "Asia/Seoul"
            - name: WEBHOOK_URL
              value: "https://n8n.winetree94.com"
            - name: N8N_PROXY_HOPS
              value: "1"
            - name: N8N_RUNNERS_ENABLED
              value: "true"
            - name: N8N_BLOCK_ENV_ACCESS_IN_NODE
              value: "true"
            - name: N8N_GIT_NODE_DISABLE_BARE_REPOS
              value: "true"
            - name: N8N_RUNNERS_MODE
              value: "external"
            - name: N8N_RUNNERS_BROKER_LISTEN_ADDRESS
              value: "0.0.0.0"
            - name: N8N_RUNNERS_AUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: n8n-secrets
                  key: N8N_RUNNERS_AUTH_TOKEN
            - name: N8N_NATIVE_PYTHON_RUNNER
              value: "true"
            - name: N8N_PORT
              value: "5678"
      volumes:
        - name: n8n-storage
          persistentVolumeClaim:
            claimName: n8n-storage
