---
cluster-init: true
cluster-cidr: {{ setup_k3s_server_cluster_cidr }}
service-cidr: {{ setup_k3s_server_service_cidr }}
flannel-backend: {{ setup_k3s_server_flannel_backend }}
disable-network-policy: {{ setup_k3s_server_disable_network_policy | lower }}
disable-kube-proxy: {{ setup_k3s_server_disable_kube_proxy | lower }}
disable:
{% for component in setup_k3s_server_disabled_components %}
  - {{ component }}
{% endfor %}
